

.container{
    height: 800px;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content:
    center;
    gap: 10px;
    align-items: flex-start;

}

.div{
    border: 1px solid
     black;
    width: 150px; 
    height: 150px;
    color: white;
    padding: 10px; 
    text-transform:
    uppercase;
    font-weight: bolder;
}

.div-1{ 
    background-color: red;
}
.div-2{
    background-color: blue;
}
.div-3{
    background-color: green;
}